.item {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  width: 100%;
}

.textContainer {
  display: flex;
  justify-content: left;
  gap: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  flex: 1;
}

.deleteContainer {
  flex-shrink: 0;
  margin: auto;
}
