.item {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  width: max-content;
}

.textContainer {
  display: flex;
  justify-content: left;
  gap: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  min-width: 10rem;
}

.deleteContainer {
  display: flex;
  justify-content: right;
  gap: 0.5rem;
}
